#roomsection
  form(action='/rooms', method='post')
    #lastfm
      #logo
      #caption Room
      #roomdesc Enter a Last.fm username to create a room.
      #roominput
        label#lfmname(for='lastfm') Username
        input#lfmuser(type='text', name='lastfm')
        input(type='submit', value='Create Room')
