#channel
  #frame
    #users
    #chat-log
      <span>kurt: ffuck fuck fuck fuck fuck fuckfuck fuck fuck fuck fuck fuckfuck fuck fuck fuck fuck fuckfuck fuck fuck fuck fuck fuckfuck fuck fuck fuck fuck fuckuck fuck fuck fuck fuck fuck</span>
      <br/>
      <span>kurt: i did it </span>

.clearfix

#chatbox
  form#entry
    textarea#message(type='text', name='message', autocomplete='off')
