!!!
html
  head
    title chattrad.io
    link(rel='stylesheet', type='text/css', href='/stylesheets/layout.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js')
    script(type='text/javascript', src='/javascripts/jquery-1.4.4.min.js')
    script(type='text/javascript', src='/nowjs/now.js')
    script(type='text/javascript', src='/javascripts/utils.js')
    script(type='text/javascript', src='/javascripts/player.js')
  body
    #rdioswf
    #container
      #header
        a#banner(href='/')
      #faceplate
        #player
          img#albumart(width=50, height=50)
          #artisttitle
            span#artistinfo
          span#duration(hidden=true) 0:00 / 0:00
          #slider
            #seek.preslider
              #seekspot.sliderspot(style='width:15px;position:relative;')
            .postslider
            #seekfill.innerslider
          #volbox
            button#volbtn
            #volume
              #volctl.preslider
                #volspot.sliderspot(style='width:12px;position:relative;')
              .postslider
              #volfill.innerslider
      !=body
