!!!
html
  head
    title chattrad.io
    link(rel='stylesheet', type='text/css', href='/stylesheets/layout.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js')
    script(type='text/javascript', src='/javascripts/jquery-1.4.4.min.js')
    script(type='text/javascript', src='/nowjs/now.js')
  body
    #rdioswf
    #container
      #header
        a#banner(href='/')
        #player
          img#albumart(width=70, height=70)
          #artisttitle
            span#artistinfo
          span#duration(hidden=true) 0:00 / 0:00
          #slider
            .preslider
              .sliderspot(style='width:15px;position:relative;')
            .postslider
            .innerslider
      !=body
