!!!
html
  head
    title chattrad.io
    link(rel='stylesheet', type='text/css', href='/stylesheets/layout.css')
    script(type='text/javascript', src='/javascripts/jquery-1.4.4.min.js')
    script(type='text/javascript', src='/nowjs/now.js')
    script(type='text/javascript', src='/javascripts/client.js')
  body.login
    header
      h1 chattrad.io

    section#channel
      section#frame
        #chat-log

      ul#users.button_list

      !=body

      #chatbox
        form#entry
          textarea#message(type='text', name='message', autocomplete='off')
