script(type='text/javascript)
  $(document).ready(function(){
    now.name = '#{username}';

    now.ready(function() {
      now.join('#{roomname}');
    });
  });

  $(window).unload(function() {
    now.leave('#{roomname}');
  });

#channel
  #frame
    #users
    #chat-log
      <span>Welcome to #{roomname}'s channel </span>

#chatbox
  form#entry
    textarea#message(type='text', name='message', autocomplete='off')
script(type='text/javascript', src='/javascripts/client.js')
