script(type='text/javascript)
  DataTransfer = {
    username: '#{username}'
  };
  $(document).ready(function(){
    now.ready(function() {
      now.join('#{roomName}');
    });
    now.name = '#{username}'
  });

#channel
  #frame
    #users
    #chat-log
      <span>Welcome to #{roomName}'s channel </span>

.clearfix

#chatbox
  form#entry
    textarea#message(type='text', name='message', autocomplete='off')
