#channel
  #frame
    #users
    #chat-log
      <span>kurt: I'm less profane now.</span>
      <br/>
      <span>kurt: i did it </span>

.clearfix

#chatbox
  form#entry
    textarea#message(type='text', name='message', autocomplete='off')
script(type='text/javascript', src='/javascripts/client.js')
