script(type='text/javascript)
#channel
  #frame
    #users
      #kurt.chuser
        img.chimg(width='20', height='20', src='http://media.rd.io/user/8/e/2/00000000000002e8/square-100.jpg')
        a.chusername(href='http://rd.io/people/kurt/') kurt
    #chat-log
      <span>Welcome to eresair's channel </span>

#chatbox
  form#entry
    textarea#message(type='text', name='message', autocomplete='off')
script(type='text/javascript', src='/javascripts/client.js')
