html {
  background: #333;

  body {
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;

    header {
    }
  }
}

.box-shadow (@offsetx, @offsety, @blurr, @color) {
  box-shadow: @offsetx @offsety @blurr @color;
  -moz-box-shadow: @offsetx @offsety @blurr @color;
  -webkit-box-shadow: @offsetx @offsety @blurr @color;
}


