div {
  display: block;
}

input[type='submit'] {
}

html {
  background: rgb(221,220,220);
  height: 100%;

  body {
    height: 100%;
    margin: 0;
    padding: 0;

    #container {
      font-family: Helvetica, Arial, sans-serif;
      border: 0;
      height: 100%;
      margin: 0;
      min-height: 400px;
      min-width: 650px;
      padding: 0;
      position: relative;
      width: 100%;

      #header {
        border-bottom: 2px solid rgb(0,0,0);
        height: 96px;
        margin: 0;
        padding: 10px 20px;
        z-index: 9999;

        h1 {
          float: left;
          margin-top: 30px;
        }

        #player {
          float: right;
          height: 70px;
          margin-top: 10px;
          padding: 0;
          position: relative;
          width: 66%;
          z-index: 9999;

          img#albumart {
            background-color: rgb(0,0,0);
            float: left;
            margin: 0;
            padding: 0;
            position: relative;
          }

          #slider {
            background: rgb(20,20,20);
            height: 10px;
            margin-top: 30px;
            margin-left: 80px;
            margin-right: 10px;
            position: relative;

            .preslider {
              background-color: rgb(229,0,167);
              height: 10px;
              position: relative;
              width: 50%;

              .sliderspot {
                background-color: rgb(0,167,229);
                float: right;
                height: 15px;
                margin-top: -0.16em;
              }
            }

            .innerslider {
              height: 10px;
              margin-top: -10px;
              position: relative;
              width: 100%;
            }
          }
        }
      }

      #channel {
        height: auto;
        width: 100%;

        #frame {
          #users,
          #chat-log {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            overflow-y: auto;
          }

          #users {
            border-right: 1px solid rgb(0,0,0);
            float: left;
            bottom: 50px;
            position: absolute;
            top: 118px;
            width: 200px;
          }

          #chat-log {
            left: 200px;
            padding: 10px;
            position: absolute;
            right: 0;
          }
        }
      }

      .clearfix {
        clear: both;
        margin-top: 50px;
      }

      #chatbox {
        bottom: 0;
        height: 50px;
        margin: 0 auto;
        min-width: 650px;
        position: fixed;
        width: 100%;
        z-index: 9999;

        #entry {
          margin: 0;
          padding: 0;
          width: 100%;

          #message {
            font: normal 14px;
            font-size: 16px;
            height: 50px;
            margin: 0;
            overflow: hidden;
            padding: 2px;
            resize: none;
            white-space: pre-wrap;
            width: 100%;
            word-wrap: break-word;
          }
        }
      }
    }
  }
}

.box-shadow (@offsetx, @offsety, @blurr, @color) {
  box-shadow: @offsetx @offsety @blurr @color;
  -moz-box-shadow: @offsetx @offsety @blurr @color;
  -webkit-box-shadow: @offsetx @offsety @blurr @color;
}
